<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteFromXML" verbose="1" >

    <test name="MyTestFromXML" >
        <classes>
            <class name="Day4.ReviewHomework">
                <methods>
                    <include name="test003" />
                    <include name="test001"/>
                    <include name ="test002"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>